@media screen and (max-width:600px) {
    header{
        padding: 60px;
        
    }
    
    nav{
        
        flex-direction: column;  
  }
  nav li{
    margin-right: 10px;
  }
  .banner{
    background-position: center;
    height: auto;
  }
  .banner-title{
    font-size: 1.5rem;
    padding-top: 15px;
  }
  input{
    width: 185px;
    height: 35px;
    column-gap: 10px;
  }
  .btn-primary{
    width: 185px;
    height: 35px;
  }
 .popular-section{
    padding: 70px;
    flex-direction: column;
 }
 img{
    width: 340px;
    height: 300px;
   
 }
}